<div class="container">
    <div class="col-12 text-center text-white mt-5">
        <h1 class="poppins-light">GET IT DONE</h1>
    </div>

    <div class="text-white">
        {{ tasks | json }}
    </div>

    <div class="col-12 p-5 bg-grey-trans mt-5 rounded">
        <div class="col-md-6 mx-auto">
            <div class="input-group">
                <input type="text" [(ngModel)]="taskInput" class="form-control custom-input" placeholder="Add new task"
                    (keyup.enter)="addTask(taskInput)">
                <div class="input-group-append">
                    <button class="btn add-button" (click)="addTask(taskInput)">
                        <i class="fa-solid fa-plus"></i></button>
                </div>
            </div>

            <div class="tasks-container col-12 mt-3">
                <div *ngFor="let item of tasks; let i = index" class="mb-2 ">
                    <div class="checkbox-wrapper mt-1" (mouseenter)="item.hover = true" (mouseleave)="item.hover = false">
                        <input type="checkbox" (click)="checkTask(item)" [checked]="tasks[i].done" id='tasks{{i}}'
                            class="inp-cbx" />
                        <label for="cbx" class="cbx" (click)="checkTask(item)">
                            <span>
                                <svg viewBox="0 0 12 10" height="10px" width="12px">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <span class="text-white" [ngClass]="{'task-done': item.done}">{{ item.text }}</span>
                        </label>

                        <div class="i-container" *ngIf="item.hover">
                            <i class="fa-solid fa-pen i-edit-task me-3 mt-1">
                            </i>
                            <i class="fa-solid fa-plus i-add-subtask me-3 mt-1"
                                (click)="item.addSubtask = !item.addSubtask">
                            </i>
                            <i class="fa-solid fa-trash-can i-remove-task me-3 mt-1" (click)="removeTask(tasks, i)">
                            </i>
                        </div>
                    </div>

                    <div *ngIf="item.addSubtask" class="input-group">
                        <input type="text" #subtaskInput class="form-control custom-input" placeholder="Add subtask"
                            (keyup.enter)="addSubtask(item, subtaskInput.value)">
                        <div class="input-group-append">
                            <button class="btn add-button" (click)="addSubtask(item, subtaskInput.value)">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div *ngIf="item.subtasks" class="mb-3">
                        <div *ngFor="let subtask of item.subtasks; let j = index" (click)="checkTask(subtask)"
                            class="checkbox-wrapper mt-1 col-11 ms-auto" (mouseenter)="subtask.hover = true" (mouseleave)="subtask.hover = false">
                            <input type="checkbox" [checked]="item.subtasks[j].done" id='subtasks{{j}}'
                                class="inp-cbx" />
                            <label for="cbx" class="cbx">
                                <span>
                                    <svg viewBox="0 0 12 10" height="10px" width="12px">
                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg>
                                </span>
                                <span class="text-white" [ngClass]="{'task-done': subtask.done}">
                                    {{ subtask.text}}
                                </span>
                            </label>
                            <div class="i-container" *ngIf="subtask.hover">
                                <i class="fa-solid fa-pen fa-xs i-edit-task me-3 mt-1">
                                </i>
                                <i class="fa-solid fa-trash-can fa-xs i-remove-task me-3 mt-1"
                                    (click)="removeTask(item.subtasks, j)">
                                </i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>