.main-container {
  border-radius: var(--default-radius) !important;
  margin-top: 3rem !important;
  padding: 1.5rem !important;
  background-color: var(--grey-1-trans);
  overflow: auto;
}

.custom-input {
  background-color: #faebd700;
  color: white;
  border-width: 2px 0 2px 2px;
  border-color: #EBEBEB;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:focus,
  &:hover {
    background-color: #0000002c;
    color: white;
    outline: none !important;
    box-shadow: none;
    border-color: #EEEEEE;
    box-shadow: 0 0.5rem 1rem #00000026 !important;
  }
}

.edit-task {
  display: inline-block;
  input {
    background-color: transparent; 
    border-width: 0px 0px 2px 0px;
    color: #d1d1d1;
    font-style: italic;
    border-color: var(--blue-2);
  
    &:focus {
      outline: none;
      border-color: var(--green-1);
    }
  }

  .bi-x-circle-fill {
    color: var(--red-1);
    cursor: pointer;
  }

  .bi-check-circle-fill {
    color: var(--green-1);
    cursor: pointer;
  }
}

.append-button {
  border-width: 2px 2px 2px 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-color: #EEEEEE !important;
  color: white;
  background-color: #dadada38;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: var(--accent-color);
  }
}

.append-button-mid {
  border-width: 2px 1px 2px 0px !important;
  border-radius: 0px !important;
  border-color: #EEEEEE !important;
  color: white;
  background-color: #dadada38;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: var(--blue-2);
  }
}

.i-add-subtask {
  color: var(--blue-2);
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--accent-color-2);
  }
}

.i-remove-task {
  color: var(--red-1);
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--accent-color-2);
  }
}

.i-edit-task {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--accent-color-2);
  }
}

.i-container {
  margin-left: 3rem;
  display: inline-block !important;
}

.task-done {
  color: var(--green-1) !important;
  font-weight: 600;
  text-decoration: line-through;
}

.title-done {
  color: var(--green-1) !important;
  // font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  display: inline-block;
}

.subtask-input {
  font-size: 0.88rem !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  // border-color: #BBBBBB !important;
}

.fw-bold {
  font-weight: 500 !important;
}

::placeholder {
  color: #BBBBBB;
  opacity: 1;
}

.checkbox-wrapper:hover {
  background-color: #0E0D34;
  border-radius: 6px;
  height: 100%;
}

.checkbox-wrapper input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.checkbox-wrapper .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  transition: color 0.4s ease-in-out, font-weight 0.4s ease-in-out;
  overflow: hidden;
}

.checkbox-wrapper .cbx span:first-child {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 6px;
  transform: scale(1);
  vertical-align: middle;
  border: 2px solid #EBEBEB;
  transition: all 0.2s ease;
}

.checkbox-wrapper .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:first-child:before {
  content: "";
  width: 50%;
  height: 50%;
  background: var(--green-1);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.checkbox-wrapper .cbx span:last-child {
  padding-left: 8px;
}

.checkbox-wrapper .cbx:hover span:first-child {
  border-color: var(--green-1);
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child {
  background: var(--green-1);
  border-color: var(--green-1);
  animation: wave 0.4s ease;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

.bi-three-dots-vertical {
  cursor: pointer;
  color: white;
}

.i-container .context-menu {
  visibility: hidden;
  background-color: #26235D;
  color: #fff;
  text-align: start;
  border-radius: 6px;

  position: absolute;
  z-index: 999;
}

.i-container:hover .context-menu {
  visibility: visible;
}

.times-up-message {
  color: var(--red-1);
  font-weight: 600;
  text-decoration: underline;
}

.text-highlight {
  text-decoration: underline;
  font-weight: 500;
}

@keyframes wave {
  50% {
    transform: scale(0.6);
  }
}